 
     <a href="#!/login" class="btn btn-link"><h3>Logout</h3></a>
    <div class="container">
  <div class="jumbotron">
    <h3 style="text-align:center" class="text-primary">WorkOut Portal</h3>
  </div>
<div class="panel panel-primary">
    <div class="panel-heading"> 
  <h2>Transactions</h2>
    </div>  
    <div class="panel-body">
        <div class="container">
  <div class="table-responsive">     
  <table  class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col"><h5>Start Time</h5></th>
        <th scope="col"><h5>End Time</h5></th>
        <th scope="col"><h5>Duration</h5></th>
        <th scope="col"><h5>Calories Burnt</h5></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let workoutTxn of workoutTxnList; let i = index" [class.active]="i == selectedRow">
        <th scope="row">{{workoutTxnList.indexOf(workoutTxn)}}</th>
        <td>{{workoutTxn[1][0]}}-{{workoutTxn[1][1]}}-{{workoutTxn[1][2]}} {{workoutTxn[1][3]}}:{{workoutTxn[1][4]}}:00</td>
        <td>{{workoutTxn[2][0]}}-{{workoutTxn[2][1]}}-{{workoutTxn[2][2]}} {{workoutTxn[2][3]}}:{{workoutTxn[2][4]}}:00</td>
        <td>{{workoutTxn[3]}}</td>
        <td>{{workoutTxn[4]}}</td>
      </tr>
    </tbody>
  </table>
  </div>
  <div class="form-actions">
    <button class="btn btn-info btn-lg" (click)="redirect()">Add</button>
    <button class="btn btn-info btn-lg" (click)="backRedirect()">Back</button>
   </div>
</div>
    </div>
    </div>
    </div>