 
<a href="#!/login" class="btn btn-link btn-lg"><h3>Logout</h3></a>
<div class="container">
  <div class="jumbotron">
    <h3 style="text-align:center" class="text-primary">WorkOut Portal</h3>
  </div>
<div class="panel panel-primary">
    <div class="panel-heading"> 
  <h2>Workouts</h2>
    </div>
  <div class="container" style="margin-top: 15px;">
  <div class="  ">     
  <table  class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th style="text-align:center"><h5>Workout Id</h5></th>
        <th style="text-align:center"><h5>Title</h5></th>
        <th style="text-align:center"><h5>Calories Burnt Per Unit Time</h5></th>
        <th style="text-align:center"><h5>Unit Time</h5></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let workout of workoutList; let i = index" (click)="WorkoutTxnredirect(i)" [class.active]="i == selectedRow" style="cursor:pointer">
        <td style="text-align:center">{{i+1}}</td>
        <td style="text-align:center">{{workout[2]}}</td>
        <td style="text-align:center" >{{workout[1]}}</td>
        <td style="text-align:center">{{workout[3]}}</td>
      </tr>
    </tbody>
  </table>
  </div>
  <div class="form-actions" style="margin:15px">
    <button class="btn btn-info btn-lg" (click)="redirect()" >Add</button>

   </div>
</div>
    </div>
</div>